* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#canvas1 {
    border: 5px solid black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #4d79bc;
}